#dark {
  background-color: aquamarine;
}

#light{
  background-color: rgb(96, 119, 139);
}

#dark .containerChild{
  background-color: rgb(255, 214, 127);
}

#light .containerChild{
  background-color: rgb(83, 131, 173);
}

.containerMain{
  height: 100vh;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.containerChild{
  height: 70vh;
  width: 40%;
  border-radius: 8px;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-template-columns: 90%;
  grid-template-rows:30% 20% 10% 10%;
}

.imagen{
  width: 50%;
  height: 30%;
}